# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#

common_steps: &common_steps
  - checkout
  - run: gem update --system
  - restore_cache:
      key: gem-cache-{{ .Branch }}-{{ checksum "Gemfile" }}
  - run:
      name: install dependencies
      command: |
        gem update bundler
        bundle install --jobs=4 --retry=3 --path vendor/bundle
  - save_cache:
      key: gem-cache-{{ .Branch }}-{{ checksum "Gemfile" }}
      paths:
        - vendor/bundle

  - run: ruby -v
  - run: bundle exec rspec spec -f p

version: 2
jobs:
  ruby-2.4:
    docker:
      - image: circleci/ruby:2.4
    steps:
      *common_steps
  ruby-2.5:
    docker:
      - image: circleci/ruby:2.5
    steps:
      *common_steps
  jruby-9.2:
    docker:
      - image: circleci/jruby:9.2
    steps:
      *common_steps
  jruby-9.2-indy:
    docker:
      - image: circleci/jruby:9.2
    environment:
      JRUBY_OPTS: '-Xcompile.invokedynamic=true'
    steps:
      *common_steps

workflows:
  version: 2
  build:
    jobs:
      - ruby-2.4
      - ruby-2.5
      - jruby-9.2
      - jruby-9.2-indy